body {
  font-family: "Play", sans-serif;
  text-align: center;
  background: lightgray;
}

.cabecalho h1 {
  color: rgb(255, 217, 0);
}

.cabecalho h1:hover {
  color: orange;
}

.cabecalho p {
  color: white;
}

.container1 {
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(51, 0, 87, 1) 50%,
    rgba(137, 0, 177, 1) 100%
  );
  max-width: 600px;
  padding: 1px 20px;
  margin: auto;
}

.container1 h2 {
  padding-top: 20px;
  font-size: 20px;
  color: white;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
}

.principal {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(51, 0, 87, 1) 50%,
    rgba(137, 0, 177, 1) 100%
  );
  border-radius: 10px;
  max-width: 770px;
  margin: auto;
}

.conteudo {
  background: linear-gradient(
    0deg,
    rgba(165, 218, 255, 1) 0%,
    rgba(43, 122, 255, 1) 50%,
    rgba(0, 129, 255, 1) 100%
  );
  width: 150px;
  height: 250px;
  border: 8px inset blue;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
}

.dados input {
  margin-bottom: 10px;
  width: 70%;
  border-radius: 5px;
  padding: 5px;
}

img {
  max-width: 100px;
}

a {
  text-decoration: none;
  color: white;
}

.botao {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: auto;
  place-items: center;
  background: rgba(41, 0, 56, 1);
  padding: 15px 30px;
  max-width: 30px;
}

.botao:hover {
  background: white;
  transition: 0.3s;
  font-weight: bold;
  color: rgba(41, 0, 56, 1);
}

.rodape {
  color: white;
  padding: 8px;
  font-weight: bold;
}

.rodape span:hover {
  color: orange;
}